<html>

	<head>
		<title>Money Monkey</title>
		<link href="style.css" rel="stylesheet">
	</head>

	<body>

		<div v-cloak id="app" class="container">

			{{ message }}

			<h2>Expenses</h2>

		<div class="row">

			<input v-model="description" type="text" placeholder="Description">

			<div v-cloak class="error" v-if="!valid.description">
				<b>Enter a valid description</b>
			</div>

			<input v-model="amount" type="text" placeholder="Amount">

			<div v-cloak class="error" v-if="!valid.amount">
				<b>Enter a valid amount</b>
			</div>

			<button @click="clicked">Add Item</button>

			<button @click="clear">Clear</button>

		</div>

			<table>
				<tr>
					<th>Description</th>
					<th>Amount</th>
					<th>Date</th>
				</tr>
				<tr v-for="expense in expenses">
					<td>
						{{ expense.description }}
					</td>
					<td>
						${{ expense.amount }}
					</td>
					<td>
						{{ expense.date }}
					</td>
				</tr>
			</table>

		</div>

		<script src="vue.js"></script>
		<script src="moment.js"></script>


		<script src="data.js" type="module"></script>
		<script src="main.js" type="module"></script>
		

	</body>

</html>