<html>

	<head>
		<title>Money Monkey</title>
		<link href="style.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  		<link href="vuetify.min.css" rel="stylesheet">
	</head>

	<body>

		<div v-cloak id="app">

			<v-app dark>

				<v-toolbar app>
					<v-toolbar-side-icon>
						<v-avatar>
							<img width="100" height="100" src="https://cdn4.iconfinder.com/data/icons/hana-emojis-monkey-edition-glyph/100/monkey_glyph-22-512.png" alt="avatar">
						</v-avatar>
					</v-toolbar-side-icon>
				</v-toolbar>

				<v-content>
					<v-container>

						<h1>{{ message }}</h1>

						<v-form class="ma-5" @keyup.native.enter="saveExpense">
							<v-text-field v-model="description" ref="descriptionRef" placeholder="Description" type="text"></v-text-field>
							<v-text-field v-model="amount" ref="amountRef" placeholder="Amount" type="text"></v-text-field>
							<input type="number" v-model="quantity">
							<br />
							<br />

							<v-btn color="info" @click="saveExpense">{{ saveButtonText }}</v-btn>

							<v-btn v-if="clearButtonVisible" color="error" @click="clear">Clear</v-btn>

							<v-alert :value="!valid.description" type="error">
								Enter valid description
							</v-alert>
							<v-alert :value="!valid.amount" type="error">
								Enter valid amount
							</v-alert>

						</v-form>

						<h2 class="text-xs-center ma-3">
							Total Expenses
							<v-chip color="green" text-color="white">${{ total }}</v-chip>
						</h2>

						<v-data-table :loading="loading" :headers="headers" :items="expenses" class="elevation-1" hide-actions>
							<template slot="items" slot-scope="props">
								<td class="text-xs-left">
									<v-icon v-if="expenseId === props.item._id">edit</v-icon>
								</td>
								<td class="text-xs-left"><b>{{ props.item.description }}</b></td>
								<td class="text-xs-left"><b>${{ props.item.amount.toFixed(2) }}</b></td>
								<td class="text-xs-left"><b>{{ props.item.quantity }}</b></td>
								<td class="text-xs-left"><b>{{ props.item.date }}</b></td>
								<td>
									<v-btn outline fab small @click="setEditingId(props.item._id)"><v-icon>edit</v-icon></v-btn>
									<v-btn outline fab small color="error" @click="deleteExpense(props.item._id)"><v-icon>delete</v-icon></v-btn>
								</td>
							</template>
						</v-data-table>

					</v-container>
				</v-content>

			</v-app>

		</div>

		<script src="vue.js"></script>
		<script src="vuetify.js"></script>
		<script src="moment.js"></script>


		<script src="data.js" type="module"></script>
		<script src="main.js" type="module"></script>
		<script src="api.js" type="module"></script>
		

	</body>

</html>